{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to "home"}}
      {{#paper-button primary=true}}
        ember boilerplate
      {{/paper-button}}
    {{/link-to}}
    {{#paper-button}}
      About
    {{/paper-button}}
    <div class="paper-right">
      {{#if session.isAuthenticated}}
          {{#paper-button}}
            <a {{action 'logout'}}>Logout</a>
          {{/paper-button}}
      {{else}}
        {{#link-to 'login'}}
          {{#link-to "login"}}
            {{#paper-button}}
              login
            {{/paper-button}}
          {{/link-to}}
        {{/link-to}}
      {{/if}}
    </div>
  </div>
{{/paper-toolbar}}