$primary: "teal";
$accent: "light-green";
$warn: "pink";

@import "color-palette";
$color-teal: map-merge($color-teal, ('contrast':  $light-contrast-color));
$color-light-green: map-merge($color-light-green, ('contrast':  $light-contrast-color));

@import 'ember-paper';

.paper-right{
  margin-left: auto;
}
