{{# paper-card as |card|}}
  {{# card.title as |title| }}
    {{# title.text as |text| }}
      {{# text.headline}} Login{{/text.headline}}
      {{# text.subhead }} Please enter new password, something you remember{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{#paper-form  onSubmit=(action "change_password")  as |form|}}
    <div class="layout-row layout-align-space-around-center">
      <div class="layout-column flex-80">
        {{form.input label="Password" type= "password" value=model.password onChange=(action (mut model.password)) required=true }}
        {{form.input label="Confirm password" type= "password" value=model.confirmPassword onChange=(action (mut model.confirmPassword)) required=true }}
      </div>
    </div>
    {{# card.actions}}
      {{#form.submit-button raised=true primary=true}}Send{{/form.submit-button}}
    {{/card.actions}}
  {{/paper-form}}
{{/paper-card}}
