{{# paper-card as |card|}}
  {{# card.title as |title| }}
    {{# title.text as |text| }}
      {{# text.headline}} Login{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#paper-form  onSubmit=(action "authenticate")  as |form|}}
    <div class="layout-row layout-align-space-around-center">
      <div class="layout-column flex-80">
        {{form.input label="Email" type="email" value=model.identification onChange=(action (mut model.identification)) required=true customValidations=emailValidation}}
        {{form.input label="Password" type= "password" value=model.password onChange=(action (mut model.password)) required=true }}
        <div class="layout-align-end">
          {{#link-to "forgot"}}
            <h5>forgot password</h5>
          {{/link-to}}
        </div>
      </div>
    </div>
    {{# card.actions}}
      {{#link-to "signup"}}
        {{#paper-button noink=true primary=true}}
          Sign up
        {{/paper-button}}
      {{/link-to}}
      {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}

    {{/card.actions}}
  {{/paper-form}}
{{/paper-card}}
